@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .timeline-milestone-button {
    @apply flex h-8 w-8 relative rounded-full border-2 border-red-400;
  }
  .timeline-start-date {
    @apply absolute;
  }
  .timeline-description {
    @apply flex flex-col space-y-1 items-start;
  }
}
